<% breadcrumb :invitation %>
<div class="control-panel pull-right">
  <%= link_to root_path, class: 'btn btn-default btn-sm' do %>
    <span class="glyphicon glyphicon-triangle-left"></span>
    Back
  <% end %>
</div>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, class: "form-signin" }) do |f| %>
  
  <h2>Send Invitation</h2>
  <%= devise_error_messages(resource) %>
  <%= f.label :first_name, class: "sr-only" %>
  <%= f.text_field :first_name, autofocus: true, required: true, placeholder: "First name", class: 'form-control' %>

  <%= f.label :last_name, class: "sr-only" %>
  <%= f.text_field :last_name, autofocus: true, required: true, placeholder: "Last name", class: 'form-control' %>

  <%= f.label :email, class: "sr-only" %>
  <%= f.email_field :email, autofocus: true, required: true, placeholder: "Email address", class: 'form-control' %>

  <%= f.label :role_id, class: "sr-only" %>
  <%= f.collection_select :role_id, Role.collection_depent_on(current_user), :id, :capitalaized_name, {prompt: 'Please select role', disabled: true, hidden: true}, {class: 'form-control', required: true} %>
  

  <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-primary btn-lg btn-block' %>
  <%= link_to 'Back', root_path %>
<% end %>
